// title lines left and right

h3.clerk_title {
    position: relative;
    text-align: center;
    margin: 0 auto;
    color: #000;
    line-height: 24px;
    max-width: fit-content;
}

h3.clerk_title:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    left: -75px;
    top: 50%;
    position: absolute;
}

h3.clerk_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    right: -75px;
    top: 50%;
    position: absolute;
}

// nice transition

.class{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

// filter transition

 #clerk-search-filters {
    padding: 0 30px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    animation-duration: 0.8s; /* Animation duration */
    animation-fill-mode: both; /* Apply styles from start to end of animation */
    height: 100vh;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%); /* Start from above */
    }
    100% {
      transform: translateY(0%); /* End at original position */
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0%); /* Start from original position */
    }
    100% {
      transform: translateY(-100%); /* End above */
    }
  }
